.section-container .list {
    width: 50%;
    margin: 0 auto;
}

.section-container .list > div {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .section-container .list {
        width: 100%;
    }
}